@use "../../../styles/partials/animations" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables" as *;

.method {
  &__container {
    animation: fadeInUp 0.8s;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: "Courier New", Courier, monospace;
    color: $secondary-color;
  }

  &__section {
    margin-bottom: 2rem;
  }

  &__question {
    margin-bottom: 0.5rem;
  }

  &__hint {
    font-family: "Courier New", Courier, monospace;
  }

  &__answer {
    margin: 0.5rem;
    animation: fadeInUp 1s;
    font-family: "Courier New", Courier, monospace;
    color: $secondary-color;
    font-weight: 600;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
