@font-face {
  font-family: "Friends Font";
  src: url("../../assets/fonts/GABRWFFR.TTF") format("woff2"),
    url("../../assets/fonts/GabrielWeissFriendsFont.woff") format("woff"),
    url("../../assets/fonts/GABRWFFR.TTF") format("true-type");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
