// colors
$primary-color: #9c8cd4;
$secondary-color: #8372aa;

$bg-color-tan: #d2c385;
$bg-color-gray: rgba(220, 220, 220, 0.731);

$border-color-gray: #cecece;

// media query breakpoint
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
