@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

// body {
//   font-family: "Friends Font";
// }

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

main {
  display: flex;
  justify-content: space-between;
}