@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  color: #333;
}

html {
  @include lg-desktop {
    font-size: 110%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

p {
  word-break: break-all;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-left: 0;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  box-shadow: $box-shadow;
  width: 100%;

  @include tablet {
    width: 80%;
  }
}

button {
  border: none;
  padding: 0.5rem;
  box-shadow: $box-shadow;
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(0.95);
  }
}

main {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    min-height: 80vh;
  }
}
