@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

header {
  @include section-padding;
}

.site-logo {
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;

  @include tablet {
    font-size: 2rem;
  }
}

.special-font {
  font-family: "Friends";
  letter-spacing: 1.5px;
}

.friends-code {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  width: fit-content;
  position: relative;
  border: 1px solid $border-color-gray;
  border-radius: 4px;

  &::before {
    content: "</>";
    position: absolute;
    background-color: white;
    color: $border-color-gray;
    top: -0.6rem;
    left: -0.5rem;
    width: 2.2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    margin-left: 1rem;

    @include tablet {
      font-size: 1.2rem;
    }
  }

  &__img {
    width: 8.5rem;

    @include tablet {
      width: 11rem;
      margin: 0 0.5rem;
    }

    @include desktop {
      width: 11rem;
    }
  }
}

.copy {
  &__icon {
    font-size: 1rem;
    color: $primary-color;
    cursor: pointer;
    position: relative;

    svg {
      font-size: 1.5rem;
    }
  }
}
