@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

header {
  @include section-padding;
}

.site-logo {
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;

  @include tablet {
    font-size: 2rem;
  }
}

.special-font {
  font-family: "Friends";
  letter-spacing: 1.5px;
}

.friends-statement {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;

  @include tablet {
    font-size: 1.2rem;
  }

  &__img {
    width: 8.5rem;

    @include tablet {
      width: 11rem;
      margin: 0 0.5rem;
    }

    @include desktop {
      width: 11rem;
    }
  }
}
