@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

nav {
  @include section-padding;
  background-color: $bg-color-tan;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include tablet {
    width: 45vw;
    border-radius: 20px 20px 0 0;
  }
}

.category {
  &__title {
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin: 0.5rem 0;
    width: fit-content;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &:hover {
      font-weight: 800;

      svg {
        color: $primary-color;
      }
    }
  }

  &__item {
    margin-left: 1rem;
    color: $secondary-color;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    animation: fadeInDown 0.5s;
    margin-bottom: 0.2rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);

    &:hover {
      text-decoration: underline;
      width: fit-content;
      padding: 0 0.2rem;
    }
  }

  &__instruction {
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
  }
}

.collapse-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
  color: $primary-color;
  cursor: pointer;
}
