@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

nav {
  @include section-padding;
  background-color: $bg-color-tan;
  position: relative;

  @include tablet {
    width: 25%;
  }
}

.category {
  &__title {
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin: 0.5rem 0;
    width: fit-content;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &:hover {
      color: $secondary-color;
      font-weight: 800;
    }
  }

  &__item {
    margin-left: 1rem;
    color: $primary-color;
    font-size: 1.2rem;
    cursor: pointer;
    animation: fadeInDown 0.5s;
    margin-bottom: 0.2rem;

    &:hover {
      text-decoration: underline;
      width: fit-content;
      padding: 0 0.2rem;
    }
  }
}

.collapse-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
  color: $primary-color;
  cursor: pointer;
}
