// @use "../../styles/partials/animations" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.method {
  @include section-padding;
  background-color: $bg-color-gray;
  flex-grow: 1;
  // animation: fadeInUp 1s;

  @include tablet {
    width: 50%;
    order: 1;
  }
}
