@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.method {
  @include section-padding;
  background-color: $bg-color-gray;
  width: 100%;
  border-radius: 20px 20px 0 0;

  @include tablet {
    order: 1;
    flex-grow: 1;
  }
}
