@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.method {
  @include section-padding;
  background-color: $bg-color-gray;
  flex-grow: 1;
  border-radius: 20px 20px 0 0;

  @include tablet {
    width: 50%;
    order: 1;
  }
}
